* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: #f6f4f3;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo {
    display: inline-block;
    margin-right: 20px;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: flex-end;
}

nav{
    flex: 1;
    text-align: right;
}

.navbar ul li {
    margin-right: 30px;
}

.navbar ul li a {
    color: #4CAF50;
    text-decoration: none; 
    font-weight: bold; 
    font-size: 1.1em; 
    transition: color 0.2s ease, transform 0.2s ease; 
    display: inline-block;
}

.navbar ul li a:hover {
    color: #03763f; 
    transform: scale(1.1); 
}

.header .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    margin-top: 20px;
}

.col-2 img {
    max-width: 100%;
}

.col-2 h3 {
    color: #000000;
    margin-bottom: 20px;
    align-items: left;
}

.col-2 p {
    line-height: 1.6;
    color: #4CAF50;
    margin-bottom: 30px;
    align-items: left;
}

.btn {
    display: inline-block;
    background-color: #4CAF50; 
    color: white; 
    padding: 12px 24px; 
    text-decoration: none; 
    border-radius: 5px; 
    font-weight: bold; 
    font-size: 1em;
    transition: transform 0.2s ease, background-color 0.2s ease; 
}

.btn:hover {
    transform: scale(1.1); 
    background-color: #45a049; 
}

.product-grid {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.product-grid img {
    height: auto;
    border: 2px solid #ddd; 
    border-radius: 5px;
    padding: 10px; 
    background-color: #f9f9f9; 
}

 th {
    text-align: left;
 }

 footer {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    margin: 0 10px;
}

.footer-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-content ul li {
    margin: 10px 0;
}

.footer-content ul li a {
    color: white;
    text-decoration: none;
    font-size: 0.9em;
}

.footer-content ul li a:hover {
    text-decoration: underline;
}

.footer-content p {
    margin: 10px 0;
}